
.m-r-5 {margin-right : 5px;}
.m-t-5 {margin-top : 5px;}
.m-r-10 {margin-right : 10px;}
.m-t-10 {margin-top : 10px;}
.m-b-10 {margin-bottom : 10px;}

table {
  width: 95%;
}

th {
  height: 100px;
}

input{ width: 80%}

.error-message {
  color: red;
}

.button_right{
  float: right;
}


.headerCustomClass {
  color: #fff;
}

th.headerCustomClass {
  text-align: right;
}

.button_right_icon { position:absolute; right:15px; }
