<!DOCTYPE html>
<html >
<body>

<div id="order" class="container order">
      <div class="row">
        <kendo-grid
          [kendoGridBinding]="gridData"
          [pageSize]="10"
          [pageable]="{
                          buttonCount: 5,
                          info: true,
                          type: 'input',
                          pageSizes: [10, 25, 50],
                          previousNext: true,
                          position: 'bottom'
                          }"
          [sortable]="true"
          filterable="menu"
          [resizable]="true"
          [height]="450"

          [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
          [(selectedKeys)]="orderSelectedRow"
          kendoGridSelectBy="id"

          (edit)="editOrder($event)"
          (cancel)="cancelOrder($event)"
          (remove)="deleteOrder($event)"
        >
          <ng-template kendoGridToolbarTemplate>

            <div class="button_right_icon">
              <button class="btn btn-outline-primary m-r-10" (click)="addOrder()">
                <i class="bi bi-plus-circle-fill m-t-5" title="Add Order"></i>
              </button>
              <button [disabled]="orderSelectedRow.length == 0" class="btn btn-outline-danger" (click)="deleteMultipleOrder()">
                <i class="bi bi-trash3-fill m-t-5" title="Delete Order"></i>
              </button>
            </div>

          </ng-template>

          <!--Grid Checkbox logic-->
          <kendo-grid-checkbox-column
            [width]="45"
            [resizable]="false"
            [columnMenu]="false"
            [showSelectAll]="true">
          </kendo-grid-checkbox-column>

        <kendo-grid-column field="id" title="ID" [filterable]="false" [editable]="false"
                           [headerStyle]="{ 'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"
                           [headerStyle]="{ 'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-column field="state" title="State" [headerStyle]="{ 'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-column field="zip" title="Zip" [headerStyle]="{ 'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-column field="amount" title="Amount" [headerStyle]="{ 'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-column field="item" title="Item" [headerStyle]="{'background-color': '#87cefa' }"
                           [headerClass]="'headerCustomClass'" > </kendo-grid-column>
        <kendo-grid-command-column
          title="Actions" [includeInChooser]="false" [width]="200" [headerStyle]="{ 'background-color': '#87cefa' }"
          [headerClass]="'headerCustomClass'">

          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand type="button" [primary]="true">
              <i class="bi bi-pencil-square" title="Edit"></i>
            </button>
            <button kendoGridRemoveCommand type="button"><i class="bi bi-trash-fill"></i>
            </button>
            <button
              kendoGridSaveCommand
              type="button" [disabled]="OrderGridFormGroup?.invalid">
              <span *ngIf="!isNew" ><i title="Save" class="bi bi-save-fill"></i></span>
            </button>
            <button kendoGridCancelCommand type="button">
              <span *ngIf="!isNew"><i title="Cancel" class="bi bi-x-circle-fill"></i></span>
            </button>
          </ng-template>
        </kendo-grid-command-column>
        </kendo-grid>


        <app-edit-order
          [isNew]="isNew"
          [model] ="editOrderItem"
          [active] = "active"
          (save)="newOrder($event)"
          (update)="updateOrder($event)"
          (cancel)="cancelOrder($event)"> </app-edit-order>
      </div>
</div>

</body>
</html>
