<!DOCTYPE html>
<html >
<body>

<div class="container">
      <div class="col-md-6" *ngIf="showForm">
        <form [formGroup]="csvDataForm" (ngSubmit)="addNewData(csvDataForm.value)">
          <div class="form-group ">
            <label>Name</label>
            <input class="form-control col-sm-8" formControlName="name" type="text" placeholder="Name" name="name" >
            <span class="error-message m-t-10" *ngIf="name && name.invalid && (name.touched || name.dirty)" > Please Enter Name. </span>
          </div>

          <div class="form-group">
            <label>Item</label>
            <input class="form-control col-sm-8" type="text" formControlName="item" placeholder="Item" name="item" >
            <span class="error-message" *ngIf="item && item.invalid && (item.touched || item.dirty)" > Please Enter Item. </span>
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input class="form-control col-sm-8" type="text" formControlName="amount" placeholder="Amount" name="amount" >
            <span class="error-message" *ngIf="amount && amount.invalid && amount.touched" > Please Enter Amount. </span>
          </div>

          <div class="form-group">
            <label>Quantity</label>
            <input class="form-control col-sm-8" type="number" formControlName="qty" placeholder="Quantity" name="qty" >
            <span class="error-message" *ngIf="qty && qty.invalid && qty.touched" > Please Enter Quantity. </span>
          </div>

          <div class="form-group">
            <label>State</label>
            <input class="form-control col-sm-8 m-b-10" type="text" formControlName="state" placeholder="State" name="state" >

            <span class="error-message" *ngIf="state && state.invalid && state.touched" > Please Enter State. </span>
          </div>

          <div class="form-group">
            <label>Zip</label>
            <input class="form-control col-sm-8" type="text" formControlName="zip" placeholder="Zip" name="zip" >
            <span class="error-message" *ngIf="zip && zip.invalid && zip.touched" > Please Enter Zip. </span>
          </div>

          <button class="btn btn-primary m-t-10 col-sm-3 m-r-10" [disabled]="csvDataForm.status == 'INVALID'" type="submit">Submit</button>
          <button class="btn btn-cancel m-t-10 col-sm-3 m-r-10" type="button" (click)="hideForm()">Cancel </button>

        </form>
      </div>


      <div class="row">
        <div class="col-xs-12 col-lg-8">
        </div>
        <div class="col-xs-6 col-lg-4">
          <button *ngIf="!showForm" type="button" class="button_right btn btn-success col-sm-6 m-b-10" (click)="addNew()">Add New Data</button>
        </div>
      </div>

      <div class="row">
        <form novalidate #CsvGridForm="ngForm">
          <div [ngStyle]="{'margin-top': '30px'}">
            <kendo-grid
              [kendoGridBinding]="gridData"
              [pageSize]="10"
              [pageable]="{
                          buttonCount: 5,
                          info: true,
                          type: 'input',
                          pageSizes: [10, 25, 50],
                          previousNext: true,
                          position: 'bottom'
                          }"
              [sortable]="true"
              filterable="menu"
              [resizable]="true"
              [height]="450"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
            >
              <kendo-grid-column field="id" title="ID" [filterable]="false" [editable]="false"
                                 [headerStyle]="{ 'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-column field="name" title="Name"
                                 [headerStyle]="{ 'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-column field="state" title="State" [headerStyle]="{ 'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-column field="zip" title="Zip" [headerStyle]="{ 'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-column field="amount" title="Amount" [headerStyle]="{ 'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-column field="item" title="Item" [headerStyle]="{'background-color': '#87cefa' }"
                                 [headerClass]="'headerCustomClass'" > </kendo-grid-column>
              <kendo-grid-command-column
                title="Actions" [includeInChooser]="false" [width]="200" [headerStyle]="{ 'background-color': '#87cefa' }"
                [headerClass]="'headerCustomClass'">

                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand type="button" [primary]="true">
                    <i class="bi bi-pencil-square" title="Edit"></i>
                  </button>
                  <button kendoGridRemoveCommand type="button"><i class="bi bi-trash-fill"></i>
                  </button>
                  <button
                    kendoGridSaveCommand
                    type="button" [disabled]="CsvGridFormGroup?.invalid">
                    <span *ngIf="!isNew" ><i title="Save" class="bi bi-save-fill"></i></span>
                  </button>
                  <button kendoGridCancelCommand type="button">
                    <span *ngIf="!isNew"><i title="Cancel" class="bi bi-x-circle-fill"></i></span>
                  </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </form>
      </div>


</div>

</body>
</html>
