<!DOCTYPE html>
<html >
<body>
  <div class="container">
    <div class="content-area">
      <div class="header">
        <h1>Green IT Test Application</h1>
      </div>
    </div>
  </div>
<div class="container">
    <div class="form-area" *ngIf="showForm">
        <form #csvDataForm="ngForm" (ngSubmit)="addNewData(csvDataForm.value)">

          <div class="form-group ">
                  <label>Name</label>
                  <input class="form-control col-sm-4" type="text" name="name" ngModel>

                  <label>Item</label>
                  <input class="form-control col-sm-4" type="text" name="item" ngModel>

                  <label>Amount</label>
                  <input class="form-control col-sm-4" type="text" name="amount" ngModel>

                  <label>Quantity</label>
                  <input class="form-control col-sm-4" type="text" name="qty" ngModel>

                  <label>State</label>
                  <input class="form-control col-sm-4" type="text" name="state" ngModel>

                  <label>Zip</label>
                  <input class="form-control col-sm-4" type="text" name="zip" ngModel>

            <button class="btn btn-primary m-t-10 col-sm-4" type="submit" >Submit</button>
          </div>
        </form>
    </div>
    <button *ngIf="!showForm" type="button" class="btn btn-cancel col-sm-2 m-b-10 float-right" (click)="addNew()">Add New Data</button>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Quantity</th>
      <th>State</th>
      <th>Zip</th>
      <th width="20%">Action</th>
    </tr>
    <tr *ngFor="let data of csvData;  let i = index">
      <td>{{ data.id }}</td>
      <td>
        <span [hidden]="data.edit">{{data.name}}</span>
        <input type="text" [hidden]="!data.edit" [(ngModel)]="data.name" value="{{data.name}}"/>
      </td>
      <td>
        <span [hidden]="data.edit">{{data.item}}</span>
        <input type="text" [hidden]="!data.edit" [(ngModel)]="data.item" value="{{data.item}}"/>
      </td>
      <td>
        <span [hidden]="data.edit">{{data.amount}}</span>
        <input type="text" [hidden]="!data.edit" [(ngModel)]="data.amount" value="{{data.amount}}"/>
      </td>
      <td>
        <span [hidden]="data.edit">{{data.qty}}</span>
        <input type="text" [hidden]="!data.edit" [(ngModel)]="data.qty" value="{{data.qty}}"/>
      </td>
      <td>
        <span [hidden]="data.edit">{{data.state}}</span>
        <input type="text" [hidden]="!data.edit" [(ngModel)]="data.state" value="{{data.state}}"/>
      </td>
      <td>
        <span [hidden]="data.edit">{{data.zip}}</span>
        <input type="text" [hidden]="!data.edit" value="{{data.zip}}"/>
      </td>
      <td>

        <div *ngIf="!data.edit">
          <button id="edit" class="btn btn-warning m-r-5" (click)="editRow(data,i)">Edit</button>
          <button id="delete" class="btn btn-danger m-r-5" (click)="deleteRow(data, i)">Delete</button>
        </div>

        <div *ngIf="data.edit">
          <button id="save" class="btn btn-success m-r-5" (click)="onUpdate(data,i)">Update</button>
          <button id="cancel" class="btn btn-primary m-r-5" (click)="onCancel(data, i)">Cancel</button>
        </div>

      </td>
    </tr>
  </table>

</div>

</body>
</html>
